ipython==7.4.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
qiskit==0.10.0
qiskit-aer==0.2.0
qiskit-aqua==0.5.0
qiskit-chemistry==0.5.0
qiskit-ibmq-provider==0.2.1
qiskit-ignis==0.1.1
qiskit-terra==0.8.0
